<footer>
    <div class="footer-container">
        <div class="foot-info foot-info-social"><span><a href="#"><i class="fa-brands fa-facebook"></i></span>
            </a>
            <span><a href="#"><i class="fa-brands fa-square-instagram"></i></span></a>
            <a href="#">
                <span>
                    <i class="fa-brands fa-linkedin"></i>
                </span>
            </a>
        </div>
        <div class="foot-info">
            &copy;Wanderlust Private Limited
        </div>
        <div class="foot-info">Privacy terms</div>
    </div>
</footer>