<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("includes/header.ejs")%>
        <link href="/error/style.css" rel="stylesheet">
</head>

<body>
    <%- include("includes/navbar.ejs")%>
        <div class="container main">
            <div class="main-messbox-box">
             <% message.split(",").forEach((v)=>{ %>
                <li><%= v %></li>
             <% })%>
            </div>
        </div>
        <%- include("includes/footer.ejs")%>
</body>
<script src="/error/script.js">

</script>

</html>